* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global variable declaration */
:root {
  --green: #33c5aa;
  --blue: #546ca8;
  --yellow: #ddd666;
}

html,
nav {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

body {
  background-color: black;
}

header {
  background-color: var(--green);
  padding: 35px 50px 15px 50px;
  display: flex;
  column-gap: 2rem;
}

/* Mobile Styles */

@media screen and (max-width: 619px) {
}

/* Tablet Styles and (max-width: 960px)   */

/* Desktop Styles */

@media screen and (min-width: 620px) {
  .twotiernav {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 1rem;
  }

  .lang-selector {
    display: flex;
    justify-content: flex-end;
  }

  .lang-selector button {
    display: flex;
    align-items: flex-start;
    column-gap: 0.2rem;
    background-color: #6c8cda;
    border-radius: 10%;
    padding: 0.2rem;
    text-transform: uppercase;
    color: var(--yellow);
  }

  .lang-selector button img {
    width: 22px;
  }

  .nav-main {
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
  }

  a:link,
  a:visited {
    color: var(--blue);
    text-decoration: none;
  }

  .nav-main li {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.2rem;
    justify-content: flex-start;
  }

  .ur-here {
    width: 17px;
    height: 38px;
  }

  .container {
    background-color: var(--yellow);
    background-image: url(media/textura-puntos.png);
    background-image: 85%;
    display: grid;
    grid-template-columns: 30px 6fr 30px;
    grid-template-rows: 46px 10fr 47px;
    grid-template-areas:
      " t t t t t t t t"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " l m m m m m m r"
      " b b b b b b b b";
  }

  .arrows-top {
    grid-area: t;
    background-image: url(media/picos-arriba-verde.png);
    height: 33px;
  }

  .arrows-bottom {
    grid-area: b;
    background-image: url(media/blanco-picos-abajo.png);
    height: 32px;
  }

  .decorative-left {
    grid-area: l;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .decorative-right {
    grid-area: r;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .content-main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem 3rem 14rem;
    min-width: 1000px;
  }

  h1 {
    color: var(--blue);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
  }

  p {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 1rem;
  }

  footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 50px;
  }

  h3 {
    color: #599ddc;
    font-size: 1.4rem;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
  }

  .social-media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;
  }

  h4 {
    color: var(--blue);
  }

  .copy {
    color: var(--blue);
    font-size: 0.7rem;
  }
}
